.banner{
    background-image: url("../../../../src/assets/img/banner.jpg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.6;

}